.stateNewValue {
  width: 48px;
  height: 48px;
  position: relative;
}

.dialBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}

.dialReg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sem-dim-fluid-big-m);
  height: var(--sem-dim-fluid-big-m);
  flex-shrink: 0;
  z-index: 0;
  border: var(--sem-border-micro-m) solid var(--sem-col-border-primary-strong);
  border-radius: var(--sem-radii-full);
}

.hexagon {
  width: var(--sem-dim-fluid-standard-l);
  height: var(--sem-dim-fluid-standard-l);
  flex-shrink: 0;
}

.dialFill {
  width: 24px;
  height: 38.11px;
  position: absolute;
  left: 24px;
  top: 0;
  z-index: 1;
  color: var(--sem-col-border-max-default);
}
