@use 'sass:color';

$control-strip-inset: 4px;
$control-strip-height: 32px;
$control-strip-gap: 2px;

#canvas-3d {
    width: 100%;
    height: 100%;
}

.viewport {
    @extend .noSelect;

    > .camera-preview {
        display: none;
        position: absolute;
        top: 2 * $control-strip-inset + $control-strip-height;
        left: $control-strip-inset;
        width: 256px;
        height: 196px;
        border: 2px solid $text-primary;

        &.active {
            display: block;
        }

        &.clickable {
            cursor: pointer;

            &:hover {
                border-color: $text-active;
            }
        }

        > .lock {
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            line-height: 26px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
            color: rgba($text-primary, 0.75);
            background-color: rgba($bcg-darker, 0.5);

            &.active {
                color: $text-active;
                box-shadow: none;

                &::before {
                    content: '\E341';
                }
            }

            &:hover {
                color: $text-primary;
                background-color: rgba($bcg-darker, 0.75);
            }
        }
    }
}

.pcui-label.cursor-tooltip {
    font-family: 'Lucida Console', Monaco, monospace;
    font-size: 10px;
    position: absolute;
    top: -26px;
    left: 8px;
    background-color: #181e20;
    padding: 0 6px;
    line-height: 18px;
}

.control-strip {
    position: absolute;
    display: flex;
    gap: $control-strip-gap;

    .control-strip-btn {
        height: $control-strip-height;
        margin: 0;
        border: none;
        border-radius: 0;
        color: rgba($text-primary, 0.75);
        background-color: rgba($bcg-darker, 0.5);

        &:hover,
        &.active {
            color: $text-primary;
            background-color: rgba($bcg-darker, 0.75);
            box-shadow: none;
        }

        &::before {
            font-size: 14px;
        }

        &:empty {
            width: $control-strip-height;
            padding: 0;
        }

        &:not(:empty) {
            padding: 0 10px;
        }
    }

    &.top-left {
        top: $control-strip-inset;
        left: $control-strip-inset;
    }

    &.top-right {
        top: $control-strip-inset;
        right: $control-strip-inset;
    }

    &.bottom-left {
        bottom: $control-strip-inset;
        left: $control-strip-inset;
        align-items: flex-end;
    }

    &.bottom-right {
        bottom: $control-strip-inset;
        right: $control-strip-inset;
    }
}

.control-strip > .pcui-button.expand {
    &::before {
        font-size: 16px;
    }

    &.active {
        background-color: $text-active;
    }
}

.control-strip > .pcui-container.render,
.control-strip > .pcui-container.camera {
    position: relative;

    &:hover > .pcui-button {
        color: $text-primary;
        background-color: rgba($bcg-darker, 0.75);
    }

    > .render-options,
    > .camera-options {
        position: absolute;
        padding: 10px;
        top: $control-strip-height;
        right: 0;
        text-align: start;
        min-width: 150px;
        max-height: 300px;
        overflow: hidden auto;
        background-color: rgba($bcg-darker, .75);

        .pcui-container {
            flex-direction: row;
            line-height: 22px;
            width: 100%;
            background: transparent;

            .pcui-boolean-input {
                margin: 7px 3px 3px;
                vertical-align: text-bottom;
            }

            .pcui-radio-button {
                align-self: center;
                height: 16px;
                margin: 0 3px 0 2px;
                width: 16px;
                flex-shrink: 0;
            }

            .pcui-label {
                margin: 3px;
                max-width: 200px;
                min-height: 20px;
                font-size: 12px;
                word-wrap: break-word;
                white-space: pre-wrap;
                vertical-align: bottom;
            }
        }

        .divider {
            height: 3px;
            background-color: rgba($bcg-darker, .75);
            margin: 5px 0;
        }
    }
}

.control-strip > .launch {
    position: relative;

    &:not(.disabled):hover {
        > .pcui-button {
            background-color: $text-active;
        }
    }

    > .pcui-button {
        &::before {
            font-size: 20px;
        }
    }

    .pcui-container.options {
        position: absolute;
        top: $control-strip-height;
        right: 0;
        margin: 0;
        padding: 5px;
        list-style: none;
        background-color: rgba($bcg-darker, 0.75);

        .pcui-boolean-input:not(.pcui-boolean-input-ticked) {
            background-color: #20292b;
        }

        .pcui-label {
            vertical-align: top;
            font-size: 12px;
        }

        .pcui-container {
            @extend .noSelect;

            background: transparent;
            width: 200px;
            cursor: pointer;
            margin: 2px 0;

            &:has(.pcui-button):hover {
                .pcui-button {
                    color: $text-active;
                }
            }
        }

        .pcui-button {
            width: 100%;
            border: 0;
            padding: 0;
            margin: 0;
            margin-left: 5px;
            background-color: transparent;
            font-size: 12px;
            text-align: left;

            &::before {
                font-size: 20px;
                vertical-align: middle;
            }

            &:hover {
                box-shadow: none;
            }
        }
    }
}

.control-strip > .pcui-button.whoisonline-user {
    background-size: 28px 28px;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
        content: '\00a0';
        position: absolute;
        right: 2px;
        bottom: 2px;
        width: 6px;
        height: 6px;
        background-color: inherit;
    }
}

