.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--sem-dim-fluid-big-l);
  height: var(--sem-dim-fluid-standard-l);
  border-radius: var(--sem-radii-full);
}

.label {
  flex-shrink: 0;
  color: var(--sem-col-text-primary-subtle);
  font-family: var(--sem-type-fluid-label-xs-font);
  font-size: var(--sem-type-fluid-label-xs-size);
  font-weight: 500;
  line-height: var(--sem-type-fluid-label-xs-line-height);
  letter-spacing: var(--sem-type-fluid-label-xs-letter-spacing);
  text-align: center;
}
